@tailwind base;
@tailwind components;
@tailwind utilities;

.body {
    font-family: 'Cinzel Decorative', serif;
    @apply text-white
}
.header-logo {
    
    width: 10rem;
    height: auto;
   

}
main {
    @apply mt-20 pt-20
}
.header {
    box-shadow: 2px 5px 20px -10px #9AEEFF;
    background-color: #282c34;
    background-image: url('/src/img/exagons-golden-bg.png');
    background-repeat: no-repeat;
    background-size: cover;
    
    @apply flex flex-row justify-between fixed top-0 w-full z-50 items-center md:p-4 object-center 
}

.nav-menu {
    @apply border-2 md:border-0 border-white md:border-none flex flex-col md:flex-row md:space-x-12 rounded-3xl p-8 shadow-2xl md:shadow-none text-center right-0 md:right-2 lg:right-4 absolute z-50 text-4xl space-y-6 md:space-y-0 md:text-3xl text-white  opacity-0 md:opacity-100 -top-96 md:top-6 
    
}

.nav-menu-open {
    background: rgba( 255, 255, 255, 0.45 );
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 15px );
    -webkit-backdrop-filter: blur( 15px );
    border-radius: 10px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );
    @apply  border-2 border-white flex flex-col md:flex-row md:space-x-4 rounded-3xl p-8 shadow-2xl text-center right-0 md:right-2 lg:right-4 absolute z-50 md:fixed text-4xl space-y-6 md:space-y-0 md:text-3xl text-white top-40 
}

.first-bg {
    background-image: url('/src/img/dark-forest-bg.png');
    background-repeat: no-repeat;
    background-size: cover;
    
    
}

.third-bg {

    backdrop-filter: blur( 8.5px );
    -webkit-backdrop-filter: blur( 8.5px );
    
  @apply shadow-amber-200 shadow-2xl m-20 w-auto flex flex-col md:flex-row items-center text-center md:text-right rounded-xl bg-gradient-to-r from-slate-200 to-transparent hover:from-slate-400 
    
}
.wrapped-img-forge {
    @apply m-4 p-2 rounded-xl 
}

a {
    @apply hover:text-orange-200 
}
.second-bg {
    background-image: url('/src/img/enlighted\ forest.png');
    background-repeat: no-repeat;
    background-size: cover;
}
.menuicon {
    @apply m-4 right-0 md:hidden
}

.wrapper-one {
   
    @apply text-white rounded-xl shadow-xl flex flex-col md:flex-row-reverse text-center pt-5 pb-5 mt-10 drop-shadow-2xl shadow-amber-200 items-center m-20 
}
.wrapper-two {
   
    @apply text-black rounded-xl flex flex-col md:flex-row text-center items-center lg:space-x-16 pt-5 pb-5 shadow-2xl shadow-amber-200  m-20 
}
.wrapper-center {
    @apply flex flex-col items-center justify-center space-y-8 md:space-y-0
}

.wrapped-image {
    @apply w-full max-w-2xl md:m-8 lg:m-12
}

.btn {
   background-color: rgb(117, 87, 81);
   box-shadow: 2px 5px 20px -10px #9AEEFF;
    @apply  max-w-fit rounded-xl m-12 md:m-6
}
.button-text {

    @apply m-6 w-full max-w-xl font-bold text-xl md:text-2xl lg:text-4xl pt-4 pb-4
} 

footer {
    box-shadow: 0px -3px 17px -4px #9AEEFF;
    background-color: #282c34;
    @apply mt-20
}

.wrapper-footer-elements {
    @apply flex flex-col md:flex-row items-center justify-between space-x-10 w-full p-14
}

h2 {
    font-family: 'Cinzel Decorative', serif;
    @apply text-2xl md:text-3xl 
}

.wrapped-text {
    @apply m-4 lg:m-6 text-xl md:text-2xl lg:text-4xl
}
.footer-social {
    @apply flex
}

.social-icon {
    @apply w-20
}

.whatsapp-wrapper {
    @apply flex justify-end m-2 fixed bottom-8 right-2 z-50 md:bottom-24 md:right-2 xl:right-8
}

.whatsapp {
    @apply w-16 md:w-24
}